<!DOCTYPE html>
<html>
<head>
    <title>Hello Angular</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


<div class="container" ng-app="RatingApp" >
    <div class="hero-unit">
        <h1>Course Rater</h1>
        <p>Demonstrating a simple AngularJS App.</p>
    </div>
    <div class="row" ng-controller="RatingCtrl as vm">
        <div class="span4">
            <p>
                <label>Rating (1-5):</label>
                <input type="text" ng-model="vm.rating"/>
            </p>
            <p>
                <label>Your Name:</label>
                <input type="text" ng-model="vm.name"/>
            </p>
            <h4> {{ vm.name }} entered: {{ vm.rating }}</h4>
            <p>
                <button class="btn btn-success" ng-click="vm.addRating()">Add</button>
            </p>
        </div>
        <div class="span8">
            <p>
                <div>
                    <!--First solution-->
                    <rating-list ratings="vm.ratings"></rating-list>
                    <!--Second solution-->
                    <!--<rating-list ratings="vm.ratings" remove="vm.removeRating(item)"></rating-list>-->
                    <!--Third solution    -->
                    <!--<rating-list ratings="vm.ratings" remove="vm.removeRating"></rating-list>-->
                </div>
            </p>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery-1.10.2.min.js"></script>
<script src="vendor/angularjs/angular.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</body>
</html>
