<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-app="myApp" ng-controller="FirstCtrl" ng-cloak>
    {{property}}
    {{property2}}

    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
