<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-app="myApp" ng-controller="MyCtrl as vm" ng-cloak>

<ul>
    <li ng-repeat="person in vm.persons">
        <span>{{person.firstName}}</span>
        <strong>{{person.lastName}}</strong>,
        <em>{{person.district}}</em>
    </li>
</ul>

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>