<div class="user-wrapper">
    <table class="table edit">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users">
            <td><input type="text" class="form-control" ng-model="user.name" ng-blur="updateUser(user)"/></td>
            <td><input type="text" class="form-control" ng-model="user.email" ng-blur="updateUser(user)"/></td>
            <td>
                <button type="button" class="btn btn-link" ng-click="vm.removeUser(user)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
    <cr-table-count collection="vm.users"></cr-table-count>
    <hr/>
    <div class="well">
        <h4>Add User</h4>

        <form class="form-inline" role="form" novalidate ng-submit="vm.addUser()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="vm.newUser.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="vm.newUser.email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>
</div>