<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body id="app" ng-app="myApp" ng-controller="MyCtrl as vm">


<p>
    Id:<input type="text" ng-model="vm.ratingId"/>
    Participant:<input type="text" ng-model="vm.participantName"/>
    Score:<input type="text" ng-model="vm.score"/>
</p>
<button ng-click="vm.getRatings()">Get</button>
<button ng-click="vm.postRating()">POST</button>
<button ng-click="vm.putRating()">PUT</button>
<button ng-click="vm.deleteRating()">DELETE</button>


<p><pre>{{vm.ratings | json}}</pre></p>

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>
