<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp" ng-cloak>

<div ng-controller="Controller">
    <input type="text" ng-model="letter">
    <ul ng-controller="Controller as vm">
        <li ng-repeat="person in vm.persons | filter:vm.startsWith(letter)">
            {{ person.name }}
        </li>
    </ul>
</div>

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>