<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Entered</th>
    </tr>
    </thead>

    <tr ng-repeat="r in vm.ratings">
        <td>{{ r.participantName }}</td>
        <td>{{ r.score }}</td>
        <td>{{ r.courseDate | date:'fullDate' }}</td>
        <td>
            <button class="btn btn-danger" ng-click="vm.removeRating(r)">Remove</button>
        </td>
    </tr>
</table>