<div class="row">
    <div class="col-xs-4">
        <h3>Add a rating:</h3>

        <form name="form" ng-submit="form.$valid && vm.addRating()" novalidate>
            <p>
                <label>Rating (1-5):</label>
                <input type="number" ng-model="vm.rating" required/>
            </p>

            <p>
                <label>Your Name:</label>
                <select ng-model="vm.name" ng-options="username for username in vm.usernames" required></select>
            </p>
            <h4> {{ name }} entered: {{ rating }}</h4>

            <p>
                <input type="submit" value="Submit" class="btn btn-success" ng-disabled="form.$invalid"/>
            </p>
        </form>
    </div>
    <div class="col-xs-8">
        <h3>Ratings:</h3>

        <p>

        <div>
            <rating-list ratings="vm.ratings"></rating-list>
            <cr-table-count collection="vm.ratings"></cr-table-count>
        </div>
        </p>
    </div>
</div>