<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp" ng-controller="MyCtrl as vm" ng-cloak>


    <div>Quantity: <input type="number" ng-model="vm.item.quantity"/></div>
    <div>Price: <input type="number" ng-model="vm.item.price"/></div>
    <div>Total Amount: {{vm.item.getAmount()}}</div>

    <br/>
    <button ng-click="vm.setInitialState()">Reset</button>

    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
