<div class="row">
    <div class="span4">
        <form name="form" ng-submit="vm.addRating()" novalidate>
            <p>
                <label>Rating (1-5):</label>
                <input type="number" ng-model="vm.rating"/>
            </p>
            <p>
                <label>Your Name:</label>
                <select ng-model="vm.name" ng-options="username for username in vm.usernames"></select>
            </p>
            <h4> {{ vm.name }} entered: {{ vm.rating }}</h4>
            <p>
                <input type="submit" value="Submit" class="btn btn-success" />
            </p>
        </form>
    </div>
    <div class="span8">
        <p>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Entered</th>
                </tr>
                </thead>

                <tr ng-repeat="r in vm.ratings">
                    <td>{{ r.name }}</td>
                    <td>{{ r.rating }}</td>
                    <td>{{ r.entered | date:'fullDate' }}</td>
                    <td><button class="btn btn-danger" ng-click="vm.removeRating(r)">Remove</button></td>
                </tr>
            </table>
            <h3> <ng-pluralize count = "ratings.length" when="vm.pluralizer"></ng-pluralize> </h3>
        </div>
        </p>
    </div>
</div>
