<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp" ng-controller="Controller" ng-cloak>

<div ng-controller="Controller">
    <my-custom-box>Check out: {{message}}!</my-custom-box>
</div>

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>