<div class="container" >
    <div class="hero-unit">
        <h1>Course Rater</h1>
        <p>A simple AngularJS App.</p>
    </div>
    <div id="app" class="row" >
        <form class="span4">
            <p>
                <label>Rating (1-5):</label>
                <input type="text" [(ng-model)]="grade"/>
            </p>
            <p>
                <label>Your Name:</label>
                <input type="text" [(ng-model)]="name"/>
            </p>
            <h4>{{name}} rated {{grade}}</h4>
            <button class="btn btn-success" (click)="onAdd({grade: grade, name: name})">Add</button>
        </form>

        <div class="span8">
            <rating-table></rating-table>
        </div>

    </div>



</div>