<p>
<div>
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Entered</th>
        </tr>
        </thead>

        <tr *ng-for="#rating of ratingService.ratings">
            <td>{{ rating.name }}</td>
            <td>{{ rating.grade }}</td>
            <td>{{ rating.courseDate }}</td>
            <td><button class="btn btn-danger" (click)="onRemove(rating)">Remove</button></td>
        </tr>
    </table>
    <h3>Count: {{ratingService.ratings.length}}</h3>
</div>
</p>