<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp">

<div ng-controller="FirstCtrl">

    {{message}}

    <div ng-controller="SecondCtrl">
        {{message}}
    </div>
</div>


<script src="lib/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>