<!DOCTYPE html>
<html>
<head>
    <title>Hello Angular</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


<div class="container" ng-app="RatingApp" >
    <div class="hero-unit">
        <h1>Course Rater</h1>
        <p>Demonstrating a simple AngularJS App.</p>
    </div>
    <div class="row" ng-controller="RatingCtrl">
        <div class="span4">
            <form name="form" ng-submit="form.$valid && addRating()" novalidate>
            <p>
                <label>Rating (1-5):</label>
                <input type="number" ng-model="rating" min="0" max="5" required/>
            </p>
            <p>
                <label>Your Name:</label>
                <input type="text" ng-model="name" required ng-minlength="3"/>
            </p>
            <h4> {{ name }} entered: {{ rating }}</h4>
            <p>
                 <input type="submit" value="Submit" class="btn btn-success" ng-disabled="form.$invalid"/>
            </p>
            </form>
        </div>
        <div class="span8">
            <p>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rating</th>
                            <th>Entered</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="r in ratings">
                            <td>{{ r.name }}</td>
                            <td>{{ r.rating }}</td>
                            <td>{{ r.entered | date:'fullDate' }}</td>
                            <td><button class="btn btn-danger" ng-click="removeRating(r)">Remove</button></td>
                        </tr>
                    </table>
                    <h3> <ng-pluralize count = "ratings.length" when="pluralizer"></ng-pluralize> </h3>
                </div>
            </p>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="vendor/angularjs/angular.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</body>
</html>