<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp">

<div ng-controller="FirstCtrl as vm">

    {{vm.objects | json}}

    <div ng-repeat="obj in vm.objects">
        <input type="text" ng-model="obj.val"/>
    </div>

    <!--try the same as above but for the primitive values-->

</div>


<script src="lib/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>