<!DOCTYPE html>
<html>
<head>
    <title>Hello Angular</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


<div class="container" ng-app="RatingApp" >
    <div class="hero-unit">
        <h1>Course Rater</h1>
        <p>Demonstrating a simple AngularJS App.</p>
    </div>
    <div class="row" ng-controller="RatingCtrl as vm">
        <div class="span4">
            <p>
                <label>Rating (1-5):</label>
                <input type="text" ng-model="vm.grade"/>
            </p>
            <p>
                <label>Your Name:</label>
                <input type="text" ng-model="vm.participantName"/>
            </p>
            <h4> {{ vm.participantName }} entered: {{ vm.grade }}</h4>
            <p>
                <button class="btn btn-success" ng-click="vm.addRating()">Add</button>
            </p>
        </div>
        <div class="span8" ng-cloak>
            <p>
                <div>
                    <table class="table table-striped" ng-show="vm.ratings.length > 0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rating</th>
                            <th>Entered</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="r in vm.ratings">
                            <td>{{ r.participantName }}</td>
                            <td>{{ r.grade }}</td>
                            <td>{{ r.courseDate | date:'fullDate' }}</td>
                            <td><button class="btn btn-danger" ng-click="vm.removeRating(r)">Remove</button></td>
                        </tr>
                    </table>
                    <h3> <ng-pluralize count = "vm.ratings.length" when="vm.pluralizer"></ng-pluralize> </h3>
                </div>
            </p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</body>
</html>
