<!DOCTYPE html>
<html>
<head>
    <title>Hello Angular</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


<div class="container" ng-app="crApp" >
    <div class="hero-unit">
        <h1>Course Rater</h1>
        <p>Demonstrating a simple AngularJS App.</p>
    </div>
    <div class="row" ng-controller="RatingsCtrl as ctrl">
        <div class="span4">
            <p>
                <label>Rating (1-5):</label>
                <input type="text" ng-model="ctrl.rating.grade"/>
            </p>
            <p>
                <label>Your Name:</label>
                <input type="text" ng-model="ctrl.rating.participantName"/>
            </p>
            <h4 ng-cloak> {{ ctrl.rating.name }} entered: {{ ctrl.rating.grade }} </h4>
            <p>
                <button class="btn btn-success" ng-click="ctrl.addRating()">Add</button>
            </p>
        </div>
        <div class="span8">
            <p>
                <div ng-cloak >
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rating</th>
                            <th>Entered</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="r in ctrl.ratings">
                            <td>{{ r.participantName }}</td>
                            <td>{{ r.grade }}</td>
                            <td>{{ r.courseDate | date:'fullDate' }}</td>
                            <td><button class="btn btn-danger" ng-click="ctrl.removeRating(r)">Remove</button></td>
                        </tr>
                    </table>
                    <h3> <ng-pluralize count = "ctrl.ratings.length" when="ctrl.pluralizer"></ng-pluralize> </h3>
                </div>
            </p>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery-1.10.2.min.js"></script>
<script src="vendor/angularjs/angular.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</body>
</html>
