<!DOCTYPE html>
<html>
<head>
    <title>Hello Angular</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="RatingApp">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner"><div class="container">
        <a class="brand" ui-sref="ratings">Rating App</a>
        <ul class="nav">

            <li ui-sref-active="active"><a ui-sref="ratings">Ratings</a></li>
            <li ui-sref-active="active"><a ui-sref="users">Users</a></li>
        </ul>
    </div></div>
</div>

<div class="container" ng-controller="AppCtrl as appCtrl" style="padding-top: 80px;" >

    <!--<div ng-show="appCtrl.showprogress">Navigating ... please be patient!</div>-->

    <div ng-show="!appCtrl.showprogress">
        <div ui-view></div>
        <button class="btn btn-small" ng-click="appCtrl.goToRatings()">Ratings</button>
        <button class="btn btn-small" ng-click="appCtrl.goToUsers()">Users</button>
    </div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script src="vendor/angularjs/angular.js"></script>
<script src="vendor/angularjs/angular-ui-router.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="js/app.js"></script>
</body>
</html>
