<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-app="myApp" ng-controller="FirstCtrl" ng-cloak>
    {{property}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/FirstController.js"></script>
    <script src="js/ServiceModule.js"></script>
</body>
</html>