<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">

    Are you sure?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>