<div class="row">
    <div class="col-xs-6">
        <h2>Add a ToDo:</h2>
        <input type="text" id="input"/>
        <p>
            <input id="addBtn" type="button" class="btn btn-primary col-xs-4" value="Add"/>
        </p>
    </div>
    <div class="col-xs-6">
        <h2>Items:</h2>
        <ul id="do"> </ul>
    </div>

</div>