<!DOCTYPE html>
<html>
<head>
    <title>Simplest Angular Example</title>

</head>
<body ng-app >
    {{2 + 40}}
    <br/>
    {{'Hello' + 'World!'}}

    <script src="lib/angular.js"></script>
</body>
</html>