<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp">

<div ng-controller="FirstCtrl as worldVm">
    <input type="text" ng-model="worldVm.message"/>
    {{worldVm.message}}

    <div ng-controller="SecondCtrl as universeVm">
        <input type="text" ng-model="universeVm.message"/>
        {{universeVm.message}}
    </div>
</div>


<script src="lib/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>