<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-app="myApp" ng-controller="MyCtrl as vm">

Our products:
<br/>
<div ng-repeat="product in vm.products">
    <div>
        <h1>{{product.name}}</h1>
        <h2>{{product.price}}</h2>
        <p>{{product.description}}</p>
        <button>Add to Cart!</button>
        <hr/>
    </div>
</div>

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>