<head>
  <script src="angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<html ng-app="app">
  <body>
    <div ng-controller="MainController">
      <pre>{{ mydata | json }}</pre>
    </div>
  </body>
</html>
