<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body id="app" ng-app="myApp" ng-controller="MyCtrl as ctrl">

    {{ctrl.message}}

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>