<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Example</title>

    <link rel="stylesheet" href="css/app.css"/>

</head>
<body>
<div ng-app="myApp" ng-controller="firstCtrl as ctrl" ng-cloak>
    <p> Result: {{ctrl.result}}</p>
    <p> Data: {{ctrl.data | json}}</p>
    <p> More Data: {{ctrl.moreData | json}}</p>
</div>
<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>